@import '../../../assets/styles/mixins.scss';

.license-selection-page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;

  .success-login-content {
    width: 320px;
    margin: auto;

    .success-text-row {
      margin-top: 2.5rem;

      p {
        color: #181818;
        opacity: 0.9;
        margin-top: 1.5rem;
      }
    }
  }
}
